Sin libreria


def import(csv):
    authors[]
    with open("nombre archivo", "r") as xlsx_file:
        data = list(xlsx.reader(xlsx_file, delimiter=","))
        for row= in data[1:]:
        authors.append(
            id=row[0],
            name=row[1],
            last_name=row[2],
            nationality=row[3],
            description=row[4],
            state=row[5],
            date_created=row[6]
        )
    
    if len(authors) > 0:
        authors.object.bulk_create(authors)

    return httpResponse("Successfully imported")


con libreria

